* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  padding: 1.2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: green;
}

nav {
  padding-left: 1rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23vh, 1fr));
  gap: 1rem;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 1rem;
}

label:not(:last-child) {
  margin-right: 1rem;
}